<div class="container">
  <h1 class="text-center" *ngIf="!currentPlayer">
    {{title}}
  </h1>

  <div class="mx-auto" style="width: 200px;" *ngIf="!currentPlayer">
    <form>
      <div class="form-group">
        <label class="border p-2 bg-info" for="lista-giocatori-csv">Carica qui il tuo file csv</label>
        <input type="file" [accept]="'text/csv'" class="form-control-file" id="lista-giocatori-csv"
               (change)="readCsvFile($event.target.files)">
      </div>
    </form>
  </div>

  <div *ngIf="currentPlayer">
    <div class="row">
      <div class="col-sm-12 text-center">
        <player [player]="currentPlayer" (nextPlayer)="drawNextPlayer()"></player>
        <recent-players *ngIf="recentPlayers.length > 0"
                        [recentPlayers]="recentPlayers.reverse()">
        </recent-players>
      </div>
    </div>
  </div>
</div>
